{{#section "header"}}
	<link rel="stylesheet" href="/css/screen.css"/>
{{/section}}

<section class="about">
	<header class="hide">
		<h1 class="subtitle">About</h1>
	</header>
	<div class="big">Hello, I am <a href="/" data-bg="me">Geoffrey Dhuyvetters</a>, born in
		<a href="http://en.wikipedia.org/wiki/Nineteen_Eighty-Four" data-bg="nineteeneigthyfour">1984</a>.
	</div>
	<ul>
		<li>I live in <a href="https://www.google.be/maps/place/Ghent/" data-bg="ghent">Ghent</a> (Belgium).</li>
		<li>I am a <em>lecturer</em> at <a href="http://www.devine.be" data-bg="devine">Devine</a> in
			<a href="https://www.google.be/maps/place/Kortrijk/" data-bg="kortrijk">Kortrijk</a> (Belgium).</li>
		<li>I like <a href="https://github.com/duivvv?tab=repositories" data-bg="code">JavaScript, Node.js, CSS, HTML</a>.</li>
	</ul>
	<div class="small">Please do contact me on <a href="http://www.twitter.com/duivvv">twitter</a>
		or via <a href="mailto:geoffrey.dhuyvetters@gmail.com">email</a>.</div>
</section>

{{#section "scripts"}}
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/app.js"></script>
{{/section}}
