{{#section "header"}}
	<link rel="stylesheet" href="/css/screen.css"/>
{{/section}}

<section class="sale">
	<header>
		<h1 class="subtitle">On Sale</h1>
	</header>
	<ul>
		<li>Killzone: Shadow Fall (PS4)</li>
		<li>Metal Gear Solid: Ground Zeroes (PS4)</li>
		<li>Fifa 14 (PS4)</li>
		<li>Dying Light (PS4)</li>
	</ul>
	<div class="small">please make <a href="mailto:geoffrey.dhuyvetters@gmail.com?subject=sale">an offer I can't refuse</a></span>
</section>
